# Parameters
#
parameters:

	# System
	system:
		error:
			email: dev@dev.dev
			presenter: Front:Error

	# Database
	database:
		driver: pdo_pgsql
		host: %env.DATABASE_HOSTNAME%
		user: %env.DATABASE_USER%
		password: %env.DATABASE_PASSWORD%
		dbname: %env.DATABASE_NAME%
		port: %env.DATABASE_PORT%

	# Project
	project:
		rev: "1.0.0"

	# File
	files:
		root: %appDir%/../data/files

	# Mailing
	mailing:
		from: webapp@example.com
		from_name: Zerops x Contributte - Webapp

	# STMP
	smtp:
		host: mailpit
		port: 1025
#		username: fake
#		password: fake
